//- Displays a Page Not Found message
extends layout.pug

block content
    .wrapper
        h1 Page Not Found
        p Sorry! We couldn't find the page you were looking for.
        br
        p
            a.button(href='/books') Home