body {
  padding: 10px 50px 50px;
  background-image: url('../images/alfons-morales-YLSwjSy7stw-unsplash.jpg');
  background-color: #000000;
  background-size: contain;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

div.wrapper {
  background: rgba(0, 32, 32, 0.85);
}

h1 {
  text-align: center;
  padding: 25px 0 0 0;
  color: rgba(255, 249, 242, 1);
}

a {
  color: rgba(1, 82, 117, 1);
  text-decoration: none;
  font-weight: 700;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: rgba(255, 249, 242, 1);
  background: rgba(1, 82, 117, 0.8);
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form {
  padding: 25px;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

a.button:hover, input[type=submit]:hover {
  background-color: rgba(1, 82, 117, 0.8);
}

p {
  margin: 25px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

table {
  width: 98%;
  padding: 20px;
  border-color: rgba(0, 32, 32, 0.8);
  margin: auto;
}

th {
  border-bottom: 2px solid;
  text-align: left;
  padding: 5px 20px 5px 10px;
  color: rgba(255, 249, 242, 1);
}

tr {
  min-height: 50px;
  border: 1px;
  background-color: rgba(255, 249, 242, .9);;
}

tr.table-headers {
  background-color: rgba(1, 82, 117, 0.8);
}

td {
  padding: 5px 20px 5px 10px;
}

.no-results {
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding: 0 0 0 40px;
  color: rgba(255, 249, 242, 1);
}

label {
  font-weight: 700;
  font-size: 16px;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
  color: rgba(255, 249, 242, 1);
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border-color: rgba(255, 249, 242, .9);
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  padding: 0 0 25px 25px;
  font-size: 16px;
  color: rgba(255, 249, 242, 1);
}

.page-not-found {
  padding: 0 0 25px 25px;
  font-size: 16px;
  color: rgba(255, 249, 242, 1);
}

.errors {
  padding: 0 0 0 25px;
  color: rgba(2, 173, 247, 1);
}

.page-header{
  margin-bottom: 100px;
  padding: 0 40px;
}
  .page-header p{
    float: left;
  }

  .page-header .book-search{
    float: right;
  }

    .page-header .book-search input{
      border-radius: 2px;
      border: 1px solid rgba(255, 249, 242, .9);
      padding: 10px 14px 12px;
      font-size: 14px;
      background: rgba(255, 249, 242, .9);
    }

    .page-header .book-search button{
      text-decoration: none;
      font-weight: 700 ;
      transition: 0.4s;
      color: rgba(255, 249, 242, 1);
      background: rgba(1, 82, 117, 0.8);
      padding: 10px 14px 12px;
      font-size: 14px;
      border-radius: 2px;
      cursor: pointer;
    }

.book-list {
  display: block;
}

.pagination{
  margin: 30px 0;
  padding: 0 0 25px 0;
  text-align: center;
}
 
  .pagination li{
    display: inline;
  }

    .pagination li a{
      border: 1px solid;
      border-radius: 5px;
      padding: 2px 7px;
      text-decoration: none;
      background: rgba(255, 249, 242, 0.9);
      color: rgba(1, 82, 117, 0.8);
    }

    .pagination li a.active,
    .pagination li a:hover{
      background: rgba(1, 82, 117, 0.8);
      color: rgba(255, 249, 242, .9);
    }